.active{
    display: block;
    transition: 2s ease;
}
.pdf-toggler{
    border-radius: 35px;
}
.toggler{
    border-radius: 35px;
}
input[name=subject],
[name=lrn],
[name=email]{
    border: none;
    width: 100%;
    border-radius: 0;
    padding: 10px 3px;
}
input[name=subject]:focus,
[name=email]:focus{
    outline: none;
}
#To{
    padding: 8px;
    background: none;
    border: none;
}
input[name=lrn]{
    border-bottom: 1px solid black;
    padding: 1px 2px;
}
.modal-footer{
    padding: 12px 4px;
    margin-bottom: 0;
}